--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:XsQnIsQCO/d9FpkCUVT/Xw==$DAJ7anWn9mEnj+URuFmdyN25CQLRvyYh8RIByKzVrk0=:B/RNDQfjiSbgRZVXQTLTT5SPIqGqpMNuIJO4gppcu9U=';

--
-- User Configurations
--








--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: algo_sheet; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA algo_sheet;


ALTER SCHEMA algo_sheet OWNER TO postgres;

--
-- Name: algo_user; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA algo_user;


ALTER SCHEMA algo_user OWNER TO postgres;

--
-- Name: tbl_dtls; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA tbl_dtls;


ALTER SCHEMA tbl_dtls OWNER TO postgres;

--
-- Name: tablefunc; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS tablefunc WITH SCHEMA public;


--
-- Name: EXTENSION tablefunc; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION tablefunc IS 'functions that manipulate whole tables, including crosstab';


--
-- Name: getsequencebycode(bigint, character varying); Type: FUNCTION; Schema: tbl_dtls; Owner: postgres
--

CREATE FUNCTION tbl_dtls.getsequencebycode(pgroupid bigint, pseqcode character varying) RETURNS character varying
    LANGUAGE plpgsql
    AS $_$
DECLARE
    vCurrSeq BIGINT;
    vStaticTemp VARCHAR(100);
    vResSeq VARCHAR(100);
BEGIN

    SELECT
        tsm.curr_seq,
        tsm.static_template
    INTO
        vCurrSeq,
        vStaticTemp
    FROM tbl_dtls.t_sequence_master tsm
    WHERE tsm.usergroupid = pgroupid
      AND tsm.seq_code = pseqcode;

RAISE NOTICE 'Value of vCurrSeq = %', vCurrSeq;
RAISE NOTICE 'Value of vStaticTemp = %', vStaticTemp;

    IF NULLIF(vStaticTemp, '') IS NOT NULL THEN

        IF vStaticTemp LIKE '%' || '$' || '{SEQ}$' || '%' THEN
            vStaticTemp := REPLACE(
                vStaticTemp,
                '$' || '{SEQ}$',
                vCurrSeq::VARCHAR
            );
        END IF;

        IF vStaticTemp LIKE '%' || '$' || '{YYYY}$' || '%'  THEN
            vStaticTemp := REPLACE(
                vStaticTemp,
                '$' || '{YYYY}$',
                TO_CHAR(CURRENT_DATE, 'YYYY')
            );
        END IF;

        vResSeq := vStaticTemp;

    ELSE
        vResSeq := vCurrSeq::VARCHAR;
    END IF;
RAISE NOTICE 'Value of vResSeq = %', vResSeq;

UPDATE tbl_dtls.t_sequence_master AS tsm
SET curr_seq = (tsm.curr_seq + tsm.incrementby)::BIGINT
WHERE tsm.usergroupid = pgroupid
  AND tsm.seq_code = pseqcode;

    RETURN vResSeq;

END;
$_$;


ALTER FUNCTION tbl_dtls.getsequencebycode(pgroupid bigint, pseqcode character varying) OWNER TO postgres;

--
-- Name: getsequncebycodeandgroupid(bigint, character varying); Type: FUNCTION; Schema: tbl_dtls; Owner: postgres
--

CREATE FUNCTION tbl_dtls.getsequncebycodeandgroupid(pgroupid bigint, pseqcode character varying) RETURNS character varying
    LANGUAGE plpgsql
    AS $$
DECLARE
    emp_salary NUMERIC;
BEGIN
    RETURN PseqCode;
END;
$$;


ALTER FUNCTION tbl_dtls.getsequncebycodeandgroupid(pgroupid bigint, pseqcode character varying) OWNER TO postgres;

--
-- Name: seq_sheet_number; Type: SEQUENCE; Schema: algo_sheet; Owner: postgres
--

CREATE SEQUENCE algo_sheet.seq_sheet_number
    START WITH 100
    INCREMENT BY 1
    MINVALUE 100
    MAXVALUE 9999
    CACHE 20
    CYCLE;


ALTER SEQUENCE algo_sheet.seq_sheet_number OWNER TO postgres;

--
-- Name: seq_t_sheet; Type: SEQUENCE; Schema: algo_sheet; Owner: postgres
--

CREATE SEQUENCE algo_sheet.seq_t_sheet
    START WITH 10000
    INCREMENT BY 1
    MINVALUE 10000
    MAXVALUE 99999
    CACHE 20
    CYCLE;


ALTER SEQUENCE algo_sheet.seq_t_sheet OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: t_question_set; Type: TABLE; Schema: algo_sheet; Owner: postgres
--

CREATE TABLE algo_sheet.t_question_set (
    qs_id character varying(15) DEFAULT (nextval('algo_sheet.seq_t_sheet'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)) NOT NULL,
    qs_sht_id character varying(15) NOT NULL,
    qs_heading character varying(50),
    qs_seq integer NOT NULL,
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE algo_sheet.t_question_set OWNER TO postgres;

--
-- Name: t_question_tags; Type: TABLE; Schema: algo_sheet; Owner: postgres
--

CREATE TABLE algo_sheet.t_question_tags (
    tag_id character varying(15) DEFAULT (nextval('algo_sheet.seq_t_sheet'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)) NOT NULL,
    tag_qns_id character varying(15) NOT NULL,
    tag_name character varying(30)
);


ALTER TABLE algo_sheet.t_question_tags OWNER TO postgres;

--
-- Name: t_questions; Type: TABLE; Schema: algo_sheet; Owner: postgres
--

CREATE TABLE algo_sheet.t_questions (
    qns_id character varying(15) DEFAULT (nextval('algo_sheet.seq_t_sheet'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)) NOT NULL,
    qns_qs_id character varying(15) NOT NULL,
    qns_title character varying(100) NOT NULL,
    qns_level character varying(10) NOT NULL,
    qns_link character varying(200) NOT NULL,
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE algo_sheet.t_questions OWNER TO postgres;

--
-- Name: t_sheet; Type: TABLE; Schema: algo_sheet; Owner: postgres
--

CREATE TABLE algo_sheet.t_sheet (
    createdat character varying(255),
    sht_cov_img character varying(255),
    sht_des character varying(255),
    sht_id character varying(255) NOT NULL,
    sht_name character varying(255),
    sht_number character varying(255),
    sht_owner character varying(255),
    sht_status character varying(255),
    updatedat character varying(255)
);


ALTER TABLE algo_sheet.t_sheet OWNER TO postgres;

--
-- Name: t_demo_user; Type: TABLE; Schema: algo_user; Owner: postgres
--

CREATE TABLE algo_user.t_demo_user (
    id bigint NOT NULL,
    password character varying(255),
    username character varying(255)
);


ALTER TABLE algo_user.t_demo_user OWNER TO postgres;

--
-- Name: t_followers; Type: TABLE; Schema: algo_user; Owner: postgres
--

CREATE TABLE algo_user.t_followers (
    flr_id character varying(15) DEFAULT (nextval('algo_sheet.seq_t_sheet'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)) NOT NULL,
    flr_child_user_id character varying(15),
    flr_parent_user_id character varying(15),
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    effectivefrom timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    effectiveto timestamp without time zone
);


ALTER TABLE algo_user.t_followers OWNER TO postgres;

--
-- Name: t_sheet_member; Type: TABLE; Schema: algo_user; Owner: postgres
--

CREATE TABLE algo_user.t_sheet_member (
    tsm_id character varying(15) DEFAULT (nextval('algo_sheet.seq_t_sheet'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)) NOT NULL,
    tsm_sht_id character varying(15) NOT NULL,
    tsm_status character varying(10),
    tsm_user_id character varying(15) NOT NULL,
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updatedat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE algo_user.t_sheet_member OWNER TO postgres;

--
-- Name: t_user; Type: TABLE; Schema: algo_user; Owner: postgres
--

CREATE TABLE algo_user.t_user (
    user_id character varying(15) DEFAULT (nextval('algo_sheet.seq_t_sheet'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)) NOT NULL,
    user_name character varying(30) NOT NULL,
    user_email_id character varying(50),
    user_password character varying(20),
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE algo_user.t_user OWNER TO postgres;

--
-- Name: sht; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sht (
    id character varying(20) DEFAULT (nextval('algo_sheet.seq_t_sheet'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)) NOT NULL,
    name character varying(20),
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    numberat character varying(3) DEFAULT 'DFT'::character varying
);


ALTER TABLE public.sht OWNER TO postgres;

--
-- Name: t_demo_user_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.t_demo_user_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.t_demo_user_seq OWNER TO postgres;

--
-- Name: tbls_row_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tbls_row_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 50000
    CACHE 1
    CYCLE;


ALTER SEQUENCE public.tbls_row_seq OWNER TO postgres;

--
-- Name: col_const_mapping; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.col_const_mapping (
    col_const_id integer NOT NULL,
    tbl_col_id bigint NOT NULL,
    const_code character varying(20) NOT NULL
);


ALTER TABLE tbl_dtls.col_const_mapping OWNER TO postgres;

--
-- Name: col_const_mapping_col_const_id_seq; Type: SEQUENCE; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE tbl_dtls.col_const_mapping ALTER COLUMN col_const_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME tbl_dtls.col_const_mapping_col_const_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: col_constraints; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.col_constraints (
    const_name character varying(50),
    const_code character varying(20),
    const_meaning character varying(100)
);


ALTER TABLE tbl_dtls.col_constraints OWNER TO postgres;

--
-- Name: t_auth_api_mapping; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.t_auth_api_mapping (
    usergroupid bigint NOT NULL,
    api_ep character varying(1000) NOT NULL,
    api_method character varying(50) NOT NULL,
    ow_json character varying(5000) NOT NULL
);


ALTER TABLE tbl_dtls.t_auth_api_mapping OWNER TO postgres;

--
-- Name: tbls_seq; Type: SEQUENCE; Schema: tbl_dtls; Owner: postgres
--

CREATE SEQUENCE tbl_dtls.tbls_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 99999
    CACHE 20
    CYCLE;


ALTER SEQUENCE tbl_dtls.tbls_seq OWNER TO postgres;

--
-- Name: t_event_transaction; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.t_event_transaction (
    event_transaction_id bigint DEFAULT ((nextval('tbl_dtls.tbls_seq'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyy'::text)))::bigint NOT NULL,
    usergroupid bigint NOT NULL,
    event_code character varying(100),
    api_ep character varying(1000) NOT NULL,
    api_method character varying(50) NOT NULL,
    component_type character varying(200) NOT NULL,
    action_type character varying(100) NOT NULL,
    execution_type character varying(100) NOT NULL,
    decision_content character varying(5000) NOT NULL
);


ALTER TABLE tbl_dtls.t_event_transaction OWNER TO postgres;

--
-- Name: t_sequence_master; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.t_sequence_master (
    sequence_master_id bigint DEFAULT ((nextval('tbl_dtls.tbls_seq'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyy'::text)))::bigint NOT NULL,
    usergroupid bigint NOT NULL,
    seq_code character varying(200),
    curr_seq bigint NOT NULL,
    incrementby integer NOT NULL,
    static_template character varying(200) NOT NULL
);


ALTER TABLE tbl_dtls.t_sequence_master OWNER TO postgres;

--
-- Name: t_user; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.t_user (
    usergroupid bigint NOT NULL,
    userid bigint DEFAULT ((nextval('tbl_dtls.tbls_seq'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)))::bigint NOT NULL,
    username character varying(30) NOT NULL,
    password character varying(100) NOT NULL,
    useremail character varying(50),
    userrole character varying(50),
    createdate timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    effectivedate timestamp without time zone
);


ALTER TABLE tbl_dtls.t_user OWNER TO postgres;

--
-- Name: table_column; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.table_column (
    tbl_col_id bigint DEFAULT ((nextval('tbl_dtls.tbls_seq'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyy'::text)))::bigint NOT NULL,
    tbl_id bigint NOT NULL,
    tbl_col_name character varying(255),
    tbl_col_type character varying(255),
    tbl_col_default character varying(255),
    effective_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by character varying(255),
    tbl_col_seq integer,
    tbl_col_length integer,
    tbl_col_nullable boolean DEFAULT false
);


ALTER TABLE tbl_dtls.table_column OWNER TO postgres;

--
-- Name: table_name; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.table_name (
    tbl_id bigint DEFAULT ((nextval('tbl_dtls.tbls_seq'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyy'::text)))::bigint NOT NULL,
    user_id bigint,
    tbl_name character varying(255),
    effective_date timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by character varying(255),
    tbl_row_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE tbl_dtls.table_name OWNER TO postgres;

--
-- Name: tbls_row_seq; Type: SEQUENCE; Schema: tbl_dtls; Owner: postgres
--

CREATE SEQUENCE tbl_dtls.tbls_row_seq
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    MAXVALUE 99999
    CACHE 20
    CYCLE;


ALTER SEQUENCE tbl_dtls.tbls_row_seq OWNER TO postgres;

--
-- Name: table_row; Type: TABLE; Schema: tbl_dtls; Owner: postgres
--

CREATE TABLE tbl_dtls.table_row (
    tbl_row_id bigint DEFAULT ((nextval('tbl_dtls.tbls_row_seq'::regclass) || to_char((CURRENT_DATE)::timestamp with time zone, 'ddmmyyyy'::text)))::bigint NOT NULL,
    tbl_id bigint,
    effective_date timestamp without time zone,
    tbl_row_sequene integer,
    col_11 bigint,
    col_12 numeric(10,4),
    col_13 character varying(300),
    col_21 bigint,
    col_22 numeric(10,4),
    col_23 character varying(300),
    col_31 bigint,
    col_32 numeric(10,4),
    col_33 character varying(300),
    col_41 bigint,
    col_42 numeric(10,4),
    col_43 character varying(300),
    col_51 bigint,
    col_52 numeric(10,4),
    col_53 character varying(300),
    col_61 bigint,
    col_62 numeric(10,4),
    col_63 character varying(300),
    col_71 bigint,
    col_72 numeric(10,4),
    col_73 character varying(300),
    col_81 bigint,
    col_82 numeric(10,4),
    col_83 character varying(300),
    col_91 bigint,
    col_92 numeric(10,4),
    col_93 character varying(300),
    col_101 bigint,
    col_102 numeric(10,4),
    col_103 character varying(300)
);


ALTER TABLE tbl_dtls.table_row OWNER TO postgres;

--
-- Data for Name: t_question_set; Type: TABLE DATA; Schema: algo_sheet; Owner: postgres
--

COPY algo_sheet.t_question_set (qs_id, qs_sht_id, qs_heading, qs_seq, createdat) FROM stdin;
\.


--
-- Data for Name: t_question_tags; Type: TABLE DATA; Schema: algo_sheet; Owner: postgres
--

COPY algo_sheet.t_question_tags (tag_id, tag_qns_id, tag_name) FROM stdin;
\.


--
-- Data for Name: t_questions; Type: TABLE DATA; Schema: algo_sheet; Owner: postgres
--

COPY algo_sheet.t_questions (qns_id, qns_qs_id, qns_title, qns_level, qns_link, createdat) FROM stdin;
\.


--
-- Data for Name: t_sheet; Type: TABLE DATA; Schema: algo_sheet; Owner: postgres
--

COPY algo_sheet.t_sheet (createdat, sht_cov_img, sht_des, sht_id, sht_name, sht_number, sht_owner, sht_status, updatedat) FROM stdin;
\N	\N	desd	1234	t_sheey	12344	dfgdhfhdgs	Active	\N
\.


--
-- Data for Name: t_demo_user; Type: TABLE DATA; Schema: algo_user; Owner: postgres
--

COPY algo_user.t_demo_user (id, password, username) FROM stdin;
2	$2a$10$CNa256c3qp.jHuInSSZ5tu43Gky7D.u.91waChptRYJwMlj0tAl0G	anuj
3	$2a$10$gBJ1jpLgGh2jKp1KVw8BgO8qoEYXymEBYeohYuUdRQp8Rw6/XPV4m	babay
\.


--
-- Data for Name: t_followers; Type: TABLE DATA; Schema: algo_user; Owner: postgres
--

COPY algo_user.t_followers (flr_id, flr_child_user_id, flr_parent_user_id, createdat, effectivefrom, effectiveto) FROM stdin;
\.


--
-- Data for Name: t_sheet_member; Type: TABLE DATA; Schema: algo_user; Owner: postgres
--

COPY algo_user.t_sheet_member (tsm_id, tsm_sht_id, tsm_status, tsm_user_id, createdat, updatedat) FROM stdin;
\.


--
-- Data for Name: t_user; Type: TABLE DATA; Schema: algo_user; Owner: postgres
--

COPY algo_user.t_user (user_id, user_name, user_email_id, user_password, createdat) FROM stdin;
1004113052025	test@user	kol.user@gmail.com	test@user	2025-05-13 01:00:21.050029
\.


--
-- Data for Name: sht; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sht (id, name, createdat, numberat) FROM stdin;
1002115042025	babay	2025-04-15 01:16:22.430241	DFT
1002215042025	babay	2025-04-15 01:16:48.76693	DFT
\.


--
-- Data for Name: col_const_mapping; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--

COPY tbl_dtls.col_const_mapping (col_const_id, tbl_col_id, const_code) FROM stdin;
1	106022112025	PKEY
2	106122112025	UNQ
3	152319032026	PKEY
4	152419032026	UNQ
5	168326072026	PKEY
6	169126072026	PKEY
7	172226072026	PKEY
8	172326072026	UNQ
9	173126072026	PKEY
\.


--
-- Data for Name: col_constraints; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--

COPY tbl_dtls.col_constraints (const_name, const_code, const_meaning) FROM stdin;
Primary Key	PKEY	Primary Key
NOT NULL	NNULL	Consist not Null value
Unique	UNQ	Unique
\.


--
-- Data for Name: t_auth_api_mapping; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--

COPY tbl_dtls.t_auth_api_mapping (usergroupid, api_ep, api_method, ow_json) FROM stdin;
12345	/t_product/save	POST	{\r\n"BODY@userid" : "CTX@userid",\r\n"BODY@name" : "CTX@username"\r\n}
11111	/t_account/save	POST	{\r\n"BODY@user-id" : "CTX@userid",\r\n"BODY@account-status" : "CTX@Pending",\r\n"BODY@account-balance" : "CMN@0"\r\n}
11111	/t_account/get	GET	{\r\n"PARAM@user-id" : "CTX@userid"\r\n}
11111	/t_beneficiary/save	POST	{\r\n"BODY@user-id" : "CTX@userid"\r\n}
11111	/t_beneficiary/get	GET	{\r\n"PARAM@user-id" : "CTX@userid"\r\n}
\.


--
-- Data for Name: t_event_transaction; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--

COPY tbl_dtls.t_event_transaction (event_transaction_id, usergroupid, event_code, api_ep, api_method, component_type, action_type, execution_type, decision_content) FROM stdin;
1740130926	11111	PreTransaction	/t_account/get	GET	SQL	Validation	QUERY	select \r\n`${Auth.userid}$` > `${Auth.usergroupid}$` as condition,\r\n'Validation Triggered suffessfully.' as validation
\.


--
-- Data for Name: t_sequence_master; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--

COPY tbl_dtls.t_sequence_master (sequence_master_id, usergroupid, seq_code, curr_seq, incrementby, static_template) FROM stdin;
1760130926	11111	SEQ_ACC_CARD_NUMBER	1000200030004005	1	
\.


--
-- Data for Name: t_user; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--

COPY tbl_dtls.t_user (usergroupid, userid, username, password, useremail, userrole, createdate, effectivedate) FROM stdin;
12345	164021062026	appuser	$2a$10$tgzmwYmMHD0.eeMjBVv3H.2nXC3LFo2gr3ARVRBYxMUliC/Zie0zG	joydevDafadar2001@gmail.com	USER	2026-06-21 17:55:54.28	\N
11111	168026072026	bankuser1	$2a$10$Qb4Du20R6QKTdoSvofRbnOUB1dXfkFxdGdoBlaudxFEgyhGHmhAN6	bankuser1@gmail.com	USER	2026-07-26 18:43:24.86	\N
\.


--
-- Data for Name: table_column; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--



--
-- Data for Name: table_name; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--



--
-- Data for Name: table_row; Type: TABLE DATA; Schema: tbl_dtls; Owner: postgres
--



--
-- Name: seq_sheet_number; Type: SEQUENCE SET; Schema: algo_sheet; Owner: postgres
--

SELECT pg_catalog.setval('algo_sheet.seq_sheet_number', 119, true);


--
-- Name: seq_t_sheet; Type: SEQUENCE SET; Schema: algo_sheet; Owner: postgres
--

SELECT pg_catalog.setval('algo_sheet.seq_t_sheet', 10059, true);


--
-- Name: t_demo_user_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.t_demo_user_seq', 51, true);


--
-- Name: tbls_row_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tbls_row_seq', 1000, false);


--
-- Name: col_const_mapping_col_const_id_seq; Type: SEQUENCE SET; Schema: tbl_dtls; Owner: postgres
--

SELECT pg_catalog.setval('tbl_dtls.col_const_mapping_col_const_id_seq', 9, true);


--
-- Name: tbls_row_seq; Type: SEQUENCE SET; Schema: tbl_dtls; Owner: postgres
--

SELECT pg_catalog.setval('tbl_dtls.tbls_row_seq', 1359, true);


--
-- Name: tbls_seq; Type: SEQUENCE SET; Schema: tbl_dtls; Owner: postgres
--

SELECT pg_catalog.setval('tbl_dtls.tbls_seq', 1779, true);


--
-- Name: t_question_set t_question_set_pkey; Type: CONSTRAINT; Schema: algo_sheet; Owner: postgres
--

ALTER TABLE ONLY algo_sheet.t_question_set
    ADD CONSTRAINT t_question_set_pkey PRIMARY KEY (qs_id);


--
-- Name: t_question_tags t_question_tags_pkey; Type: CONSTRAINT; Schema: algo_sheet; Owner: postgres
--

ALTER TABLE ONLY algo_sheet.t_question_tags
    ADD CONSTRAINT t_question_tags_pkey PRIMARY KEY (tag_id);


--
-- Name: t_questions t_questions_pkey; Type: CONSTRAINT; Schema: algo_sheet; Owner: postgres
--

ALTER TABLE ONLY algo_sheet.t_questions
    ADD CONSTRAINT t_questions_pkey PRIMARY KEY (qns_id);


--
-- Name: t_sheet t_sheet_pkey; Type: CONSTRAINT; Schema: algo_sheet; Owner: postgres
--

ALTER TABLE ONLY algo_sheet.t_sheet
    ADD CONSTRAINT t_sheet_pkey PRIMARY KEY (sht_id);


--
-- Name: t_demo_user t_demo_user_pkey; Type: CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_demo_user
    ADD CONSTRAINT t_demo_user_pkey PRIMARY KEY (id);


--
-- Name: t_followers t_followers_pkey; Type: CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_followers
    ADD CONSTRAINT t_followers_pkey PRIMARY KEY (flr_id);


--
-- Name: t_sheet_member t_sheet_member_pkey; Type: CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_sheet_member
    ADD CONSTRAINT t_sheet_member_pkey PRIMARY KEY (tsm_id);


--
-- Name: t_user t_user_pkey; Type: CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_user
    ADD CONSTRAINT t_user_pkey PRIMARY KEY (user_id);


--
-- Name: t_user t_user_user_email_id_key; Type: CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_user
    ADD CONSTRAINT t_user_user_email_id_key UNIQUE (user_email_id);


--
-- Name: t_user t_user_user_name_key; Type: CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_user
    ADD CONSTRAINT t_user_user_name_key UNIQUE (user_name);


--
-- Name: sht sht_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sht
    ADD CONSTRAINT sht_pkey PRIMARY KEY (id);


--
-- Name: col_const_mapping col_const_mapping_pkey; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.col_const_mapping
    ADD CONSTRAINT col_const_mapping_pkey PRIMARY KEY (col_const_id);


--
-- Name: col_constraints col_constraints_const_code_key; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.col_constraints
    ADD CONSTRAINT col_constraints_const_code_key UNIQUE (const_code);


--
-- Name: t_event_transaction event_transaction_id_pkey; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.t_event_transaction
    ADD CONSTRAINT event_transaction_id_pkey PRIMARY KEY (event_transaction_id);


--
-- Name: t_sequence_master sequence_master_id_pkey; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.t_sequence_master
    ADD CONSTRAINT sequence_master_id_pkey PRIMARY KEY (sequence_master_id);


--
-- Name: t_user t_user_pkey; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.t_user
    ADD CONSTRAINT t_user_pkey PRIMARY KEY (userid);


--
-- Name: table_column table_column_pkey; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.table_column
    ADD CONSTRAINT table_column_pkey PRIMARY KEY (tbl_col_id);


--
-- Name: table_name table_name_pkey; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.table_name
    ADD CONSTRAINT table_name_pkey PRIMARY KEY (tbl_id);


--
-- Name: table_row table_row_pkey; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.table_row
    ADD CONSTRAINT table_row_pkey PRIMARY KEY (tbl_row_id);


--
-- Name: t_auth_api_mapping uk_t_user_usergroupid_api_ep; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.t_auth_api_mapping
    ADD CONSTRAINT uk_t_user_usergroupid_api_ep UNIQUE (usergroupid, api_ep);


--
-- Name: t_user uk_t_user_usergroupid_username; Type: CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.t_user
    ADD CONSTRAINT uk_t_user_usergroupid_username UNIQUE (usergroupid, username);


--
-- Name: t_question_tags t_question_tags_tag_qns_id_fkey; Type: FK CONSTRAINT; Schema: algo_sheet; Owner: postgres
--

ALTER TABLE ONLY algo_sheet.t_question_tags
    ADD CONSTRAINT t_question_tags_tag_qns_id_fkey FOREIGN KEY (tag_qns_id) REFERENCES algo_sheet.t_questions(qns_id);


--
-- Name: t_questions t_questions_qns_qs_id_fkey; Type: FK CONSTRAINT; Schema: algo_sheet; Owner: postgres
--

ALTER TABLE ONLY algo_sheet.t_questions
    ADD CONSTRAINT t_questions_qns_qs_id_fkey FOREIGN KEY (qns_qs_id) REFERENCES algo_sheet.t_question_set(qs_id);


--
-- Name: t_followers t_followers_flr_child_user_id_fkey; Type: FK CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_followers
    ADD CONSTRAINT t_followers_flr_child_user_id_fkey FOREIGN KEY (flr_child_user_id) REFERENCES algo_user.t_user(user_id);


--
-- Name: t_followers t_followers_flr_parent_user_id_fkey; Type: FK CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_followers
    ADD CONSTRAINT t_followers_flr_parent_user_id_fkey FOREIGN KEY (flr_parent_user_id) REFERENCES algo_user.t_user(user_id);


--
-- Name: t_sheet_member t_sheet_member_tsm_user_id_fkey; Type: FK CONSTRAINT; Schema: algo_user; Owner: postgres
--

ALTER TABLE ONLY algo_user.t_sheet_member
    ADD CONSTRAINT t_sheet_member_tsm_user_id_fkey FOREIGN KEY (tsm_user_id) REFERENCES algo_user.t_user(user_id);


--
-- Name: col_const_mapping col_const_mapping_const_code_fkey; Type: FK CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.col_const_mapping
    ADD CONSTRAINT col_const_mapping_const_code_fkey FOREIGN KEY (const_code) REFERENCES tbl_dtls.col_constraints(const_code);


--
-- Name: col_const_mapping col_const_mapping_tbl_col_id_fkey; Type: FK CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.col_const_mapping
    ADD CONSTRAINT col_const_mapping_tbl_col_id_fkey FOREIGN KEY (tbl_col_id) REFERENCES tbl_dtls.table_column(tbl_col_id);


--
-- Name: table_column table_column_tbl_id_fkey; Type: FK CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.table_column
    ADD CONSTRAINT table_column_tbl_id_fkey FOREIGN KEY (tbl_id) REFERENCES tbl_dtls.table_name(tbl_id);


--
-- Name: table_row table_row_tbl_id_fkey; Type: FK CONSTRAINT; Schema: tbl_dtls; Owner: postgres
--

ALTER TABLE ONLY tbl_dtls.table_row
    ADD CONSTRAINT table_row_tbl_id_fkey FOREIGN KEY (tbl_id) REFERENCES tbl_dtls.table_name(tbl_id);


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

